@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@500&display=swap');

:root {
  --color-primary: #ff6309;
  --color-white: #ffffff;
  --color-dark-gray: #2c2c2c;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
h1,
h2,
h3 {
  font-family: Oswald;
  font-family: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
}
body {
  font-family: Montserrat;
}
h1,
h2,
h3,
body {
  color: var(--color-white);
}
h2 {
  font-size: 5rem;
}
p {
  font-size: 3rem;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}
/* Buttons */
.btn {
  border-radius: 5px;
  border: 0;
  font-family: Oswald;
  font-size: 3rem;
  padding: 0.75rem 6rem;
  outline: none;
  text-transform: uppercase;
  transition: all 0.3s;
  white-space: nowrap;
}
.btn:focus {
  border: 0;
  outline: none;
}
.btn--primary {
  background: var(--color-primary);
  color: var(--color-white);
}
.btn--primary:hover {
  background: rgb(255, 99, 9);
  background: -moz-linear-gradient(
    94deg,
    rgba(255, 99, 9, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    94deg,
    rgba(255, 99, 9, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background: linear-gradient(
    94deg,
    rgba(255, 99, 9, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff6309",endColorstr="#ffffff",GradientType=1);
}
.btn--dark {
  background: var(--color-dark-gray);
  color: var(--color-white);
}
/* Cards */
.card--container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.card {
  display: flex;
  flex-direction: column;
  margin: 3rem auto;
  border-radius: 5px;
  max-width: 400px;
}
.card-top img {
  border-radius: 5px;
  padding: 0;
  width: 100%;
}

.card--primary {
  background: var(--color-primary);
}
.card--secondary {
  background: var(--color-dark-gray);
}
.card__heading {
  font-size: 4rem;
  text-align: center;
  margin: 0;
  padding-top: 2rem;
}
.card__text {
  margin: 0;
  font-size: 2rem;
  padding: 1rem 2rem;
  text-align: center;
}
@media (min-width: 1100px) {
  .card--container {
    flex-direction: row;
    justify-content: center;
  }
  .card__heading {
    font-size: 2rem;
  }
  .card__text {
    font-size: 1.5rem;
  }
  .card {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
/* List */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.list--inline {
  display: flex;
}
.list--inline .list__item {
  text-transform: uppercase;
  font-family: Oswald;
  font-size: 2.5rem;
  margin-left: 2rem;
}
.list .list__item a {
  text-transform: uppercase;
  font-family: Oswald;
  margin-left: 3rem;
  margin-right: 3rem;
  color: white;
}
.list--vertical {
  display: flex;
  flex-direction: column;
}
.list--vertical .list__item {
  font-size: 2.5rem;
  font-family: Montserrat;
  text-transform: capitalize;
}

/* Collapsibles */
.collapsible__content {
  max-height: 0;
  opacity: 0;
  transition: all 0.5s ease;
  overflow: hidden;
}
.collapsible.collapsible__expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}
.collapsible.collapsible__expanded .toggler-icon {
  transform: rotate(0);
  color: white;
  box-shadow: 0 0 5px 5px red;
  border-radius: 50%;
}

.toggler-icon {
  font-size: 5rem;
  transform: rotate(-90deg);
  transition: all 0.3s;
  color: rgba(173, 173, 173, 0.712);
  padding: 0;
}
.togller__container {
  align-self: start;
  padding: 2rem;
}
/* NavBar */
.navbar {
  position: relative;
  background: var(--color-dark-gray);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s;
}
.logo img {
  width: 180px;
  padding: 2rem;
}
.navbar .list {
  width: 100%;
}
.navbar .list .list__item a {
  font-size: 3rem;
  opacity: 0.5;
  transition: all 0.3s;
}
.navbar .list .list__item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.253);
  padding: 2rem;
}

.navbar .list .list__item a:hover {
  opacity: 1;
}

@media (min-width: 768px) {
  .toggler-icon,
  .togller__container {
    display: none;
  }
  .collapsible__content {
    max-height: 100vh;
    opacity: 1;
  }
  .navbar .list {
    width: auto;
    display: flex;
  }
  .navbar .list .list__item {
    border-bottom: 0;
  }
}
/* Hero */
.hero {
  background: url('./img/hero-bg.png') no-repeat center center/cover;
  height: 100vh;
  align-content: center;
  justify-content: center;
  white-space: wrap;
}
.grid {
  display: grid;
}

.hero__heading,
.hero__text,
.hero__content {
  align-self: center;
  text-align: center;
}
.hero__heading {
  font-size: 10rem;
  margin: 0;
}
.hero__text {
  font-size: 2rem;
  margin-bottom: 2.5rem;
}
@media (min-width: 1100px) {
  .grid1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .hero__heading,
  .hero__text,
  .hero__content {
    text-align: left;
  }
  .hero__content {
    padding: 5rem;
  }
  .hero__heading {
    font-size: 14rem;
    width: 100%;
  }
  .hero__text {
    font-size: 3rem;
  }
}
/* Dance Tour */
.dace-tour {
  background: url('./img/design.png') no-repeat left;
  margin: 0;
  background-color: var(--color-primary);
  padding: 5rem;
}
.dance-tour__heading {
  margin: 0;
  text-align: center;
  font-size: 5rem;
}
.dance-tour__text {
  font-size: 2rem;
  text-align: center;
}
@media (min-width: 1100px) {
  .dace-tour {
    padding: 6rem;
    height: 100vh;
  }
  .dance-tour__text {
    max-width: 1100px;
    margin: 3rem auto;
    line-height: 1.3;
    font-size: 2.5rem;
  }
}
/* Pricing */
.price {
  background: var(--color-dark-gray);
}
.price--icon {
  font-size: 15rem;
  text-align: center;
}
.icon--container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}
.price--btn-container {
  text-align: center;
  padding: 5rem;
}
.price--btn-container .btn {
  display: block;
}
@media (min-width: 1100px) {
  .price {
    padding: 6rem;
    height: 100vh;
  }
}
/* Footer */
.footer {
  padding: 5rem;
  background-color: var(--color-dark-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.footer__container {
  max-width: 1100px;
  margin: 0 auto;
}
.footer__title {
  font-size: 3rem;
  margin: 0;
}
.footer__text {
  font-size: 1.25rem;
  line-height: 1.4;
  max-width: 70%;
}
.footer__menu-title {
  font-size: 2rem;
  margin-bottom: 0;
}
.footer .list {
  font-size: 2rem;
  width: 100%;
}
.footer .list .list__item {
  margin: 2rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.253);
}
.footer .list .list__item a {
  font-family: Montserrat;
  margin-left: 0;
  text-transform: capitalize;
  font-weight: 100;
  opacity: 0.5;
  transition: all 0.3s;
}

.footer .list .list__item a:hover {
  opacity: 1;
}

.social--icons a {
  color: rgb(255, 255, 255);
}
.social--icon {
  font-size: 3rem;
  margin-top: 2rem;
  padding: 0.5rem;
}
@media (min-width: 768px) {
  .footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .footer .list .list__item {
    margin: 2rem 0;
    border-bottom: 0;
  }
  .footer__menu-title {
    font-size: 3rem;
  }
  .footer__menu-title .list {
    display: flex;
    flex-direction: column;
  }
  .footer .list .list__item a {
    font-size: 2rem;
    font-weight: 100;
  }
  .footer_grid2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
/* Subscribe */
.sub {
  background: var(--color-primary);
  height: 50vh;
}
.sub__heading,
.sub__text {
  margin: 0;
  text-align: center;
  /* padding: 5rem; */
}
.sub_cont {
  padding: 5rem;
  max-width: 1100px;
  margin: 0 auto;
}
.sub__text {
  font-size: 2rem;
  margin-top: 2rem;
}
.sub-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.form-control {
  max-width: 100;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-control .btn {
  margin-top: 0.25rem;
}

.form,
.form:focus {
  outline: none;
  border: 0;
}
.form {
  font-size: 3rem;
  padding: 0.75rem 6rem;
}
.form-control button,
.form-control .form {
  margin: 0;
  border: 0;
}
::placeholder {
  text-transform: capitalize;
}
@media (min-width: 768px) {
  .sub-content {
    background: url('../img/design.png1') no-repeat left;

    height: 100%;
  }
  .sub-content2 {
    background: url('../img/design-copy.png1') no-repeat right;
    height: 100%;
  }
  .form-control {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .form-control .btn {
    margin: 0;
  }
  .sub_cont {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
