<div class="blog">
  <img src="./img/blog1.png" alt="" />
  <div class="blog__content">
    <h2 class="blog__heading">amazind dance</h2>
    <p class="blog__Text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque quidem
      veritatis quaerat tempore? Deserunt sit officia dignissimos vel omnis
      perferendis?
    </p>
    <a href="" class="btn btn--dark"> read more</a>
  </div>
</div>
<div class="blog">
  <img src="./img/blog2.png" alt="" />
  <div class="blog__content">
    <h2 class="blog__heading">best dance</h2>
    <p class="blog__Text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque quidem
      veritatis quaerat tempore? Deserunt sit officia dignissimos vel omnis
      perferendis?
    </p>
    <a href="" class="btn btn--dark"> read more</a>
  </div>
</div>
