<div class="card--container">
  <div class="card card--primary">
    <div class="card-top"></div>
    <div class="card--content">
      <h3 class="card__heading">title</h3>
      <p class="card__text">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed,
        voluptatum.
      </p>
    </div>
  </div>
  <div class="card card--secondary">
    <div class="card-top"></div>
    <div class="card--content">
      <h3 class="card__heading">title</h3>
      <p class="card__text">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed,
        voluptatum.
      </p>
    </div>
  </div>
</div>
