<div class="dace-tour">
  <h2 class="dance-tour__heading">dance tour</h2>
  <p class="dance-tour__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error labore
    accusantium asperiores dolor placeat quo voluptatem obcaecati, provident
    iste, id odit nobis voluptate animi autem!
  </p>
  <div class="card--container">
    <div class="card card--secondary">
      <div class="card-top">
        <img src="./img/card.png" alt="" />
      </div>
      <div class="card--content">
        <h3 class="card__heading">title</h3>
        <p class="card__text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed,
          voluptatum.
        </p>
      </div>
    </div>
    <div class="card card--secondary">
      <div class="card-top">
        <img src="./img/card.png" alt="" />
      </div>
      <div class="card--content">
        <h3 class="card__heading">title</h3>
        <p class="card__text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed,
          voluptatum.
        </p>
      </div>
    </div>
    <div class="card card--secondary">
      <div class="card-top">
        <img src="./img/card.png" alt="" />
      </div>
      <div class="card--content">
        <h3 class="card__heading">title</h3>
        <p class="card__text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed,
          voluptatum.
        </p>
      </div>
    </div>
  </div>
</div>
