<footer class="footer">
  <div class="footer__container">
    <h2 class="footer__title">Musicology</h2>
    <p class="footer__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at
      dignissim nunc, id maximus ex. Etiam nec dignissim elit, at dignissim
      enim.
    </p>
    <div class="social--icons">
      <a href=""><i class="fa-brands fa-instagram social--icon"></i></a>
      <a href=""><i class="fa-brands fa-facebook social--icon"></i></a>
      <a href=""><i class="fa-brands fa-twitter social--icon"></i></a>
      <a href=""><i class="fa-brands fa-telegram social--icon"></i></a>
    </div>
  </div>
  <div class="footer_grid2">
    <!-- Footer Menu/1 -->
    <div>
      <h3 id="footerMenu" class="footer__menu-title">about</h3>
      <ul class="list">
        <li class="list__item"><a href="">history</a></li>
        <li class="list__item"><a href="">Our team</a></li>
        <li class="list__item"><a href="">Brand Guidelines</a></li>
        <li class="list__item"><a href="">Terms & Condition</a></li>
        <li class="list__item"><a href="">Privacy Policy</a></li>
      </ul>
    </div>
    <!-- Footer Menu/2 -->
    <div>
      <h3 id="footerMenu" class="footer__menu-title">services</h3>
      <ul class="list">
        <li class="list__item"><a href="">How to Order</a></li>
        <li class="list__item"><a href="">Our Product</a></li>
        <li class="list__item"><a href="">Order Status</a></li>
        <li class="list__item"><a href="">Promo</a></li>
        <li class="list__item"><a href="">Payment Method</a></li>
      </ul>
    </div>
    <!-- Footer Menu/3 -->
    <div>
      <h3 id="footerMenu" class="footer__menu-title">other</h3>
      <ul class="list">
        <li class="list__item"><a href="">Contact Us</a></li>
        <li class="list__item"><a href="">Help</a></li>
        <li class="list__item"><a href="">Privacy</a></li>
      </ul>
    </div>
  </div>
</footer>
