<div class="price">
  <h2 class="dance-tour__heading">basic</h2>
  <p class="dance-tour__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error labore
    accusantium asperiores dolor placeat quo voluptatem obcaecati, provident
    iste, id odit nobis voluptate animi autem!
  </p>
  <div class="card--container">
    <div class="card card--primary">
      <div class="card-top">
        <div class="icon--container">
          <i class="fa-solid fa-award price--icon"></i>
        </div>
      </div>
      <div class="card--content">
        <h3 class="card__heading">basic</h3>
        <p class="card__text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed,
          voluptatum.
        </p>
        <div class="price--btn-container">
          <a href="" class="btn btn--dark btn--price">$1500</a>
        </div>
      </div>
    </div>
    <div class="card card--primary">
      <div class="card-top">
        <div class="icon--container">
          <i class="fa-solid fa-award price--icon"></i>
        </div>
      </div>
      <div class="card--content">
        <h3 class="card__heading">basic</h3>
        <p class="card__text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed,
          voluptatum.
        </p>
        <div class="price--btn-container">
          <a href="" class="btn btn--dark btn--price">$1500</a>
        </div>
      </div>
    </div>
    <div class="card card--primary">
      <div class="card-top">
        <div class="icon--container">
          <i class="fa-solid fa-award price--icon"></i>
        </div>
      </div>
      <div class="card--content">
        <h3 class="card__heading">title</h3>
        <p class="card__text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed,
          voluptatum.
        </p>
        <div class="price--btn-container">
          <a href="" class="btn btn--dark btn--price">$1500</a>
        </div>
      </div>
    </div>
  </div>
</div>
