<div class="stats">
  <h2 class="dance-tour__heading stats__heading">our statics</h2>
  <p class="dance-tour__text stats__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora molestiae,
    numquam harum ducimus natus unde ullam ex voluptatibus nulla architecto!
  </p>

  <div class="statics">
    <div class="grid1">
      <h3 class="grid1__heading">1240+</h3>
      <span class="grid1__text">club</span>
    </div>
    <div class="grid1">
      <h3 class="grid1__heading">2000+</h3>
      <span class="grid1__text">Active member</span>
    </div>
    <div class="grid1">
      <h3 class="grid1__heading">1.000+</h3>
      <span class="grid1__text">community</span>
    </div>
  </div>
</div>
