<div class="sub">
  <div class="sub-content">
    <div class="sub-content2">
      <div class="sub_cont">
        <h2 class="sub__heading">subscribe</h2>
        <p class="sub__text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut non
          sapiente, numquam earum odio reiciendis beatae consectetur provident
          minus alias.
        </p>
        <div class="form-control">
          <input type="text" placeholder="your email" id="email" class="form" />
          <button type="submit" class="btn btn--dark">subscribe</button>
        </div>
      </div>
    </div>
  </div>
</div>
